<div class="container">

    <div class="panel panel-default panel-widget dashboard-top-left">
        <div class="row">
            <div style="padding: 10px" class="col-lg-12 text-center">
                <span style="font-size: 18px; font-weight: bold; color: #1C1C1C">Transa&ccedil;&otilde;es n&atilde;o conciliadas</span>
            </div>
            <div class="loading-panel" ng-show="_isLoadingPageTrNaoConciliadas">
                <svg class="spinner spinner-center" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="path" fill="none" stroke-width="3" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg>
            </div>
        </div>

        <div class="limiter">
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table" >

                        <div class="row header">
                            <div class="cell">
                                Data Hora
                            </div>
                            <div class="cell">
                                Loja
                            </div>
                            <div class="cell">
                                Autorização
                            </div>
                            <div class="cell">
                                Operação
                            </div>
                            <div class="cell">
                                Adquirente &nbsp;
                            </div>
                            <div class="cell">
                                Bandeira
                            </div>
                            <div class="cell">
                                Vl. bruto
                            </div>
                            <div class="cell">
                                Vl. líquido
                            </div>
                            <div class="cell">
                                (%)Tx EDI
                            </div>
                            <div class="cell">
                                (%)Tx Cadastrada
                            </div>
                            <div class="cell">
                                Plano
                            </div>
                        </div>

                        <div ng-repeat="tr in trNaoConciliadas | orderBy : 'transacaoDataHora':false" class="row">
                            <div class="cell" data-title="Full Name">
                                {{moment(tr.relatorio.transacaoDataHora)}}
                            </div>
                            <div class="cell" data-title="Age">
                                {{tr.loja_NomeLojaCliente}}
                            </div>
                            <div class="cell" data-title="Job Title">
                                {{tr.relatorio.transacaoAutorizacao}}
                            </div>
                            <div class="cell" data-title="Location">
                                {{tr.operacao_Nome}}
                            </div>
                            <div ng-if="tr.rede_Nome == 'CIELO'" class="cell" data-title="Location">
                                <img src="../public/images/adquirente/logo_cielo.png" alt="">
                            </div>
                            <div ng-if="tr.rede_Nome == 'REDE'" class="cell" data-title="Location">
                                <img src="../public/images/adquirente/logo_rede.png" alt="">
                            </div>


                            <div ng-if="tr.url_bandeira == '' " class="cell" data-title="Location">
                                {{tr.bandeira_Nome}}
                            </div>
                            <div ng-if="tr.url_bandeira != '' " class="cell" data-title="Location">
                                <img width="40px" height="30px" src="{{tr.url_bandeira}}" alt="">
                            </div>


                            <div class="cell" data-title="Location">
                                {{tr.relatorio_AReceberValorBruto}}
                            </div>
                            <div class="cell" data-title="Location">
                                {{tr.relatorio_AReceberValorLiquido}}
                            </div>
                            <div class="cell" data-title="Location">
                                {{tr.relatorio_TransacaoTaxaEDI}}
                            </div>
                            <div class="cell" data-title="Location">
                                {{tr.relatorio_TransacaoTaxaCadastrada}}
                            </div>
                            <div class="cell" data-title="Location">
                                {{tr.relatorio.transacaoPlano}}
                            </div>


                        </div>



                    </div>
                </div>
            </div>
        </div>


    </div>


    <div class="panel panel-default panel-widget dashboard-top-right">

        <div class="row">
            <div style="padding: 10px" class="col-lg-12 text-center">
                <span style="font-size: 18px; font-weight: bold; color: #1C1C1C">Transa&ccedil;&otilde;es conciliadas</span>
            </div>
            <div class="loading-panel" ng-show="_isLoadingPagetrTrConciliadas">
                <svg class="spinner spinner-center" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="path" fill="none" stroke-width="3" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg>
            </div>
        </div>

        <div class="limiter">
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table" >

                        <div class="row header">
                            <div class="cell">
                                Data Hora
                            </div>
                            <div class="cell">
                                Loja
                            </div>
                            <div class="cell">
                                Autorização
                            </div>
                            <div class="cell">
                                Operação
                            </div>
                            <div class="cell">
                                Adquirente &nbsp;
                            </div>
                            <div class="cell">
                                Bandeira
                            </div>
                            <div class="cell">
                                Vl. bruto
                            </div>
                            <div class="cell">
                                Vl. líquido
                            </div>
                            <div class="cell">
                                (%)Tx EDI
                            </div>
                            <div class="cell">
                                (%)Tx Cadastrada
                            </div>
                            <div class="cell">
                                Plano
                            </div>
                        </div>

                        <div ng-repeat="tr in trConciliadas | orderBy : 'transacaoDataHora':false" class="row">
                            <div class="cell" data-title="Full Name">
                                {{moment(tr.relatorio.transacaoDataHora)}}
                            </div>
                            <div class="cell" data-title="Age">
                                {{tr.loja_NomeLojaCliente}}
                            </div>
                            <div class="cell" data-title="Job Title">
                                {{tr.relatorio.transacaoAutorizacao}}
                            </div>
                            <div class="cell" data-title="Location">
                                {{tr.operacao_Nome}}
                            </div>
                            <div ng-if="tr.rede_Nome == 'CIELO'" class="cell" data-title="Location">
                                <img src="../public/images/adquirente/logo_cielo.png" alt="">
                            </div>
                            <div ng-if="tr.rede_Nome == 'REDE'" class="cell" data-title="Location">
                                <img src="../public/images/adquirente/logo_rede.png" alt="">
                            </div>


                            <div ng-if="tr.url_bandeira == '' " class="cell" data-title="Location">
                                {{tr.bandeira_Nome}}
                            </div>
                            <div ng-if="tr.url_bandeira != '' " class="cell" data-title="Location">
                                <img width="40px" height="30px" src="{{tr.url_bandeira}}" alt="">
                            </div>


                            <div class="cell" data-title="Location">
                                {{tr.relatorio_AReceberValorBruto}}
                            </div>
                            <div class="cell" data-title="Location">
                                {{tr.relatorio_AReceberValorLiquido}}
                            </div>
                            <div class="cell" data-title="Location">
                                {{tr.relatorio_TransacaoTaxaEDI}}
                            </div>
                            <div class="cell" data-title="Location">
                                {{tr.relatorio_TransacaoTaxaCadastrada}}
                            </div>
                            <div class="cell" data-title="Location">
                                {{tr.relatorio.transacaoPlano}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="panel panel-default panel-widget dashboard-bottom-left">

        <div class="row">
            <div style="padding: 10px" class="col-lg-12 text-center">
                <span style="font-size: 18px; font-weight: bold; color: #1C1C1C">Transa&ccedil;&otilde;es EDI</span>
            </div>
            <div class="loading-panel" ng-show="_isLoadingPageTrEDI">
                <svg class="spinner spinner-center" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="path" fill="none" stroke-width="3" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg>
            </div>
        </div>

        <div class="limiter">
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table" >

                        <div class="row header">
                            <div class="cell">
                                Data Hora
                            </div>
                            <div class="cell">
                                Loja
                            </div>
                            <div class="cell">
                                Autorização
                            </div>
                            <div class="cell">
                                Operação
                            </div>
                            <div class="cell">
                                Adquirente &nbsp;
                            </div>
                            <div class="cell">
                                Bandeira
                            </div>
                            <div class="cell">
                                Vl. bruto
                            </div>
                            <div class="cell">
                                Vl. líquido
                            </div>
                            <div class="cell">
                                (%)Tx EDI
                            </div>
                            <div class="cell">
                                (%)Tx Cadastrada
                            </div>
                            <div class="cell">
                                Plano
                            </div>
                        </div>

                        <div ng-repeat="tr in trEDI | orderBy : 'transacaoDataHora':false" class="row">
                            <div class="cell" data-title="Full Name">
                                {{moment(tr.relatorio.transacaoDataHora)}}
                            </div>
                            <div class="cell" data-title="Age">
                                {{tr.loja_NomeLojaCliente}}
                            </div>
                            <div class="cell" data-title="Job Title">
                                {{tr.relatorio.transacaoAutorizacao}}
                            </div>
                            <div class="cell" data-title="Location">
                                {{tr.operacao_Nome}}
                            </div>
                            <div ng-if="tr.rede_Nome == 'CIELO'" class="cell" data-title="Location">
                                <img src="../public/images/adquirente/logo_cielo.png" alt="">
                            </div>
                            <div ng-if="tr.rede_Nome == 'REDE'" class="cell" data-title="Location">
                                <img src="../public/images/adquirente/logo_rede.png" alt="">
                            </div>


                            <div ng-if="tr.url_bandeira == '' " class="cell" data-title="Location">
                                {{tr.bandeira_Nome}}
                            </div>
                            <div ng-if="tr.url_bandeira != '' " class="cell" data-title="Location">
                                <img width="40px" height="30px" src="{{tr.url_bandeira}}" alt="">
                            </div>


                            <div class="cell" data-title="Location">
                                {{tr.relatorio_AReceberValorBruto}}
                            </div>
                            <div class="cell" data-title="Location">
                                {{tr.relatorio_AReceberValorLiquido}}
                            </div>
                            <div class="cell" data-title="Location">
                                {{tr.relatorio_TransacaoTaxaEDI}}
                            </div>
                            <div class="cell" data-title="Location">
                                {{tr.relatorio_TransacaoTaxaCadastrada}}
                            </div>
                            <div class="cell" data-title="Location">
                                {{tr.relatorio.transacaoPlano}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>


    <div class="panel panel-default panel-widget dashboard-bottom-right">

        <div class="row">
            <div style="padding: 10px" class="col-lg-12 text-center">
                <span style="font-size: 18px; font-weight: bold; color: #1C1C1C">Transa&ccedil;&otilde;es consolidadas por tipo</span>
            </div>
            <div class="loading-panel" ng-show="_isLoadingPageTrAdquirentesTipo">
                <svg class="spinner spinner-center" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="path" fill="none" stroke-width="3" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg>
            </div>
        </div>

        <div style="padding-left: 80px; padding-top: 50px; max-height: 45vh; overflow-x:auto">
            <div class="col-lg-12">
                <div style="background: #90CAF9; padding: 30px; margin: 10px" class="col-lg-5">
                    <h4>Créditos Serviços Adquirentes </h4>
                    <h1> R$ 60,00</h1>
                    <div style="position: absolute;bottom: 0px;right: 0px; padding-right: 10px ">
                        <h2 class="text-center">1</h2>
                        <h5>Cupons</h5>
                    </div>
                </div>
                <div style="background: #EF9A9A; padding: 30px; margin: 10px" class="col-lg-5">
                    <h4>Débitos Serviços Adquirentes </h4>
                    <h1> R$ -262,11</h1>
                    <div style="position: absolute;bottom: 0px;right: 0px; padding-right: 10px ">
                        <h2 class="text-center">4</h2>
                        <h5>Cupons</h5>
                    </div>
                </div>
                <div style="background: #80CBC4; padding: 30px; margin: 10px" class="col-lg-5">
                    <h4>{{trAdquirentesTipo[0].operacao_Nome}} </h4>
                    <h1> R$ {{trAdquirentesTipo[0].valorLiquido}}</h1>
                    <div style="position: absolute;bottom: 0px;right: 0px; padding-right: 10px ">
                        <h2 class="text-center">{{trAdquirentesTipo[0].quantidade_Cupons}}</h2>
                        <h5>Cupons</h5>
                    </div>
                </div>
                <div style="background: #FFF59D; padding: 30px; margin: 10px" class="col-lg-5">
                    <h4>{{trAdquirentesTipo[1].operacao_Nome}} </h4>
                    <h1> R$ {{trAdquirentesTipo[1].valorLiquido}}</h1>
                    <div style="position: absolute;bottom: 0px;right: 0px; padding-right: 10px ">
                        <h2 class="text-center">{{trAdquirentesTipo[1].quantidade_Cupons}}</h2>
                        <h5>Cupons</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>